.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


a{
text-decoration:none;
color:black;
}

    a:hover {
        color: black;
    }

.img-thumbnail{
    padding:10px 5px;
}

.profiel {
    padding-top: 80px;
    padding-bottom: 20px;
}
.AGE {
    line-height: 45px;
    margin-top:30px;
    margin-bottom: 20px;
    padding: 20px 0;
}
.profiel-heading {
        font-size: 60px;
        line-height: 45px;
        margin-bottom:20px;
        padding:20px 0;

    }

.profiel-subheading {
    font-size: 1.25rem;
    padding: 20px 0;
}

.profiel .profiel-img {
        width: 15rem;
    }
.product{
        margin:25px 0;
    }


/*
 * Extra utilities
 */
.flex-equal > * {
    flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

